a {
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
  }

.app-wrapper {
    width: 1100px;
    margin: 0 auto;
}



.mainContent {
    position: relative;   
    display: flex;
    
}